@using Microsoft.AspNetCore.Identity

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


<style>
    /* CSS for changing color on hover */
    .navbar-nav .nav-link:hover {
        color: #FEA116 !important; /* Bootstrap warning color */
    }

</style>
</head>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand mr-4" asp-area="" asp-controller="Home" asp-action="Index">Campus Wide Ordering System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Restaurant" asp-action="ChooseRestaurant">Menu</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                    </li>

                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">


                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Settings">Account</a>

                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="PastOrder">Past Orders</a>
                        }
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Info">Help</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                        
                    </div>
                </li>
                <li class="nav-item mr-4">
                    <!-- Added mr-4 for more right margin -->
                    <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">
                        <i class="fa fa-shopping-cart fa-2x"></i> <!-- Use fa-lg for larger size -->
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">


                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger py-1 px-2" })
                    </li>
                }
                else
                {
                    <li class="nav-item mr-4">
                        <!-- Added mr-4 for more right margin -->
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary py-1 px-2" })
                    </li>
                    <li class="nav-item mr-4">
                        <!-- Added mr-4 for more right margin -->
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success py-1 px-2" })
                    </li>
                }
            </ul>


        </div>
    </div>
</nav>
