@model List<Restaurant>  

<head>
    <link rel="stylesheet" href="../css/menu.css" />
</head>

    <h1>Choose a Restaurant</h1>

        <div class="restaurant-list">
        @foreach (var restaurant in Model)
        {
            <div class="card">
                <a href="@Url.Action("Menu", "MenuItem", new { restID = restaurant.Id })">
                    <img src="@restaurant.LogoUrl" alt="@restaurant.Name" class="card-img-top" />
                    <div class="card-body">
                    </div>
                </a>
            </div>
        }
    </div>
    }