@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index">Campus Ordering System</h1>
    <h2 class="index">Please select your restaurant.</h2>
    <br>
</div>

<div class="menu">
    <a href="~/CFA/CFAView"><img src='~/Images/Chick-fil-A-Logo.png' alt="Chick-Fil-A"></a>
    <a href="~/Panda/PandaView"><img src="~/Images/1200px-Panda_Express_logo.svg.png" alt="Panda Express"></a>
</div>
