@using Newtonsoft.Json
@model Receipt

<h2>Receipt Details</h2>

@if (Model != null)
{
    <dl>
        <dt>Receipt ID:</dt>
        <dd>@Model.ReceiptId</dd>

        <dt>Purchase Date/Time:</dt>
        <dd>@Model.PurchaseDateTime</dd>

        <dt>Total Price:</dt>
        <dd>@Model.TotalPrice</dd>

        <dt>Purchased Items:</dt>
        <dd>
            <ul>
                @if (!string.IsNullOrEmpty(Model.JSONForReceipt))
                {
                    List < CartItem > cartItems = JsonConvert.DeserializeObject<List<CartItem>>(Model.JSONForReceipt);


                    @foreach (var item in cartItems)
                    {
                        @string.Format("{0} x {1} (${2:N2} each)", item.Quantity, item.MenuItemName, item.Price)
                   }
                }
            </ul>
        </dd>
    </dl>
}
else
{
    <p>Receipt not found.</p>
}